.container-1 {
    background-color: #1f2937;
    color: white;
}

.container-1 .header1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    gap: 100px;
}

a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.container-1 .header2 {
    display: flex;
    flex-direction: column;
}

