* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-1 {
    background-color: #1f2937;
    color: white;
}

.container-1 .header1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    gap: 100px;
    padding-top: 10px;
    padding-bottom: 75px;
}

.container-1 .header2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.container-1 .header2 {
    display: flex;
    flex-grow: 1;
    max-width: fit-content;
    padding: 0 50px 0 50px;
}

.container-1 .part1 {
    padding: 48px;
}

.container-1 .square {
    padding: 50px;
    margin: 15px;
    background-color: gray
}
/*  */

.container-1 .one {
    font-weight: 900;
    font-size: 30px;
    color: #f9faf8;
}

.container-1 .two {
    font-size: 15px;
}

.button {
    background-color: #3882F6;
    color: white;
    border: #3882F6;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
}

/* Container 2 CSS */

.container-2 .boxes {
    display: flex; 
    align-content: center;
    justify-content: center;
    /* gap: 100px; */
    /* padding-top: 10px;
    padding-bottom: 75px; */
    padding: 10px 0 75px 0;
    flex-grow: 1;
}

.container-2 .box {
    border: solid 3px #3882F6;
    border-radius: 15px;
    background-color: white;

    width: 100px;
    height: 100px;
    flex: 0 1;
}

.container-2 .randomHeader {
    display: flex;
    align-content: center;
    justify-content: center;

    font-weight: 900;
    font-size: small;

    padding: 20px;

    /* max-width: fit-content;
    margin-left: auto;
    margin-right: auto; */
}
