.container-1 {
    background-color: #1f2937;
    color: white;
}

.container-1 .header1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    gap: 100px;
    padding-top: 10px;
    padding-bottom: 75px;
}

a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.container-1 .header2 {
    display: flex;
}

.container-1 .part1 {
    padding: 48px;
}

.container-1 .square {
    padding: 50px;
    margin: 15px;
    background-color: gray
}
/*  */

.one {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

.button {
    background-color: #3882F6;
    color: white;
    border: #3882F6;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
}

